.main-side-nav {
  font-size: 1.1em;
  padding: 0px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.main-side-nav .logo {
  top: 30px;
  position: fixed;
}

.main-side-nav a {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  /*background-color: rgba(9, 30, 66, 0.25);*/
  color: rgb(222, 235, 255);
  fill: rgba(9, 30, 66, 0.25);
  height: 40px;
  border-radius: 3px;
  flex: 0 0 auto;
  padding: 8px 12px;
  text-decoration: none;
}

.main-side-nav a:hover {
  background-color: rgba(0,0,0,0.05);
}

.main-side-nav .nav-item-active {
  font-weight: bold;
  /*color: #4cd5a0;*/
  /*color: #5499e7;*/
  color: #2f363e;
}

.main-side-nav .nav-item-inactive {
  color: #979fa6;
}


