.readings-page-content(fxflex="60" fxlayout="column" fxlayoutalign="start center")
  .settings-pickers(*ngIf="selectedLanguage" align="right")
    mat-form-field.language-picker
      mat-select([(ngModel)]="selectedLanguage.name")
        mat-option(*ngFor="let language of languages" value="{{language.name}}" click="onChangeLanguage(language)")
          | {{language.name}}
    mat-form-field.version-picker
      mat-select([(ngModel)]="selectedVersion.name")
        mat-option(*ngFor="let version of selectedLanguage.versions" value="{{version.name}}" click="loadContent(selectedVersion.code,date)")
          | {{version.name}}
  .readings-component(*ngIf="liturgicEvent && readings" mouseup="getSelectedText()")
    span.date {{date | date: "medium"}}
    h1.liturgic-title {{liturgicEvent.title}}
    .reading-block(*ngFor="let reading of readings")
      .reading-label {{reading.type}}
      mat-card.reading-card
        .reading-title.no-select {{reading.book.full_title}} {{reading.reference_displayed}}
        .reading-content
          p.reading-verse(*ngFor="let verse of getVerseNbAndTextList(reading.text)")
            b.verse-number.no-select {{verse.number}}
            span.verse-text
              | {{verse.text}}
  .footer(*ngIf="selectedText")
    .footer-item(align="right")
      button.pin-button(mat-raised-button="" color="primary")
        i.material-icons pin_drop
        span Épingler
