@import '~sass/variables';

.settings-pickers {
  background-color: rgba(0,0,0,.05);
  height:90px;
}

.picker {
  margin-left: 15px;
}

.date-picker input {
  //color: #2f363e;
  //width: 80%;
  //height: 200px;
  //font-size: 5em;
  //word-wrap: break-word;
  //font-weight: bold;
}
