.liturgic-title {
  /*font-size: 2.2em;*/
  color: #495768;
}

.reading-block {
  margin-top: 50px;
}

.reading-label {
  font-size: 1.2em;
  font-weight: bold;
  color: #495768;
}

.reading-card {
  margin-top: 20px;
  border-radius: 8px;
  border: solid 1px #eee;
  box-shadow: none !important;
}

.reading-title {
  font-weight: bold;
  font-size: 0.9em;
}

.reading-content {
  margin-top: 15px;
}

.reading-verse {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 0px;
  -webkit-margin-before: 0em;
}
