<div class="readings-page-content">
  <div *ngIf="settings.selectedVersion && settings.selectedLanguage" class="settings-pickers" align="right">
    <mat-form-field class="language-picker">
      <mat-select [(ngModel)]="settings.selectedLanguage.name">
        <mat-option *ngFor="let language of settings.languages" [value]="language.name" (click)="onChangeLanguage(language)">
          {{language.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="version-picker">
      <mat-select [(ngModel)]="settings.selectedVersion.name">
        <mat-option *ngFor="let version of settings.selectedLanguage.versions" [value]="version.name" (click)="loadContent(settings.selectedVersion.code,date)">
          {{version.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <div class="readings-component" *ngIf="liturgicEvent && readings && settings.languages"
       (mouseup)="getSelectedText()">
    <span class="date">{{date | date: 'medium'}}</span>
    <h1 class="liturgic-title">{{liturgicEvent.title}}</h1>
    <div class="reading-block" *ngFor="let reading of readings">
      <div class="reading-label">{{reading.type}}</div>
      <mat-card class="reading-card">
        <div class="reading-title no-select">{{reading.book.full_title}} {{reading.reference_displayed}}</div>
        <div class="reading-content">
          <p class="reading-verse" *ngFor="let verse of getVerseNbAndTextList(reading.text)">
            <b class="verse-number no-select">{{verse.number}}</b>
            <span class="verse-text">
              {{verse.text}}
            </span>
          </p>
        </div>
      </mat-card>
    </div>
</div>

<div class="footer" *ngIf="selectedText">
  <div align="right" class="footer-item">
    <button mat-raised-button color="primary" class="pin-button">
      <i class="material-icons">pin_drop</i>
      <span>Épingler</span>
    </button>
  </div>
</div>
