<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<div>
  <mat-sidenav-container class="container" *ngIf="shouldRun">
    <mat-toolbar class="header">Header</mat-toolbar>
    <mat-sidenav mode="side" class="sidenav" opened>
      <nav>
        <ul>
          <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="/test" routerLinkActive="active">Heroes</a></li>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      Main content
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-toolbar class="footer">Footer</mat-toolbar>
  </mat-sidenav-container>
</div>


