<div>
  <ngx-loading-bar color="#449bff" [includeSpinner]="false" height="3px"></ngx-loading-bar>
  <mat-sidenav-container class="container" *ngIf="shouldRun">
    <mat-toolbar class="header">Header</mat-toolbar>
    <mat-sidenav mode="side" class="sidenav" opened>
      <nav>
        <ul>
          <li><a routerLink="/readings" routerLinkActive="active">Corpus</a></li>
          <li><a routerLink="/saints" routerLinkActive="active">Saints</a></li>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-toolbar class="footer">Footer</mat-toolbar>
  </mat-sidenav-container>
</div>


