@import '~sass/variables';

.logo {
  color: white;
  font-size: 1.4em;
  span{
    font-weight: 700;
  }
}

$underline-color: $blue-grey-dark;
$duration: .2s;
$distance: 10px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.top-bar a {
  text-decoration: none;
  //text-transform: uppercase;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1em;
  span {
    font-weight: 800;
  }
  margin: 0px 12px;
  padding-bottom: 8px;
}

.top-bar .nav-item {
  position: relative;

  &:hover, &.nav-item-active {
    color: $underline-color;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $underline-color;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus, &.nav-item-active {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}

.top-bar .profile-picture {
  $size: 2rem;
  height: $size;
  width: $size;
  border-radius: 50%;
  flex-shrink: 0;
  border: #bcc3cc solid 2px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 4px;
}
