@import '~sass/variables';

app-side-nav {
  overflow: hidden;
  width: 350px;
  background: white;
  border-right: $blue-grey-100 solid 1px;
}

.data-container {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 40px;
}
